// --- Brand Colors
$black: #111111;
$white: #FFFFFF;
$charcoal: #2A272B;

// -- Grey
$grey-700: #1B1B1B;
$grey-600: #424242;
$grey-500: #5D5D5D;
$grey-400: #999999;
$grey-300: #BBBBBB;
$grey-200: #E4E4E4;
$grey-100: #F2F3F5;
$grey-000: #F9F9F9;

// --- Coral
$coral-500: #EE7873;
$coral-300: #F79995;
$coral-100: #FBC5C3;

// -- Green
$green-500: #558B2F;
$green-300: #9CCC65;
$green-100: #F1F8E9;

// -- Yellow
$yellow-700: #FFD900;
$yellow-600: #D2B98F;
$yellow-500: #FDE68F;
$yellow-300: #FFF0B6;
$yellow-200: #FFEFD3;
$yellow-100: #FFF9E1;
$yellow-000: #FFFCF7;

// -- Orange
$orange-300: #FFA600;

// -- Brown
$brown-500: #593C1D;
$brown-300: #BCAAA4;
$brown-100: #EEDFCC;
$brown-000: #EFEBE9;

// -- Red
$red-500: #B71C1C;
$red-300: #E53935;
$red-100: #FFEBEE;

// -- Blue
$blue-500: #03A9F4;



// --- Brand Colors
$facebook:  #3b5998;
$twitter:   #1da1f2;
$pinterest: #bd081c;
$instagram: #405de6;
$yahoo:     #410093;
$gmail:     #dd4b39;

