// uncomment for production
//$assetPath : "/css/assets";

// uncomment for local
$assetPath : "/css/assets";


// icon composition

%ui-icon {
  display: block;
  height: 22px;
  width: 22px;

  // need to work on colors
  &.white { 
      -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
              filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
  }
  &.grey { 
      -webkit-filter: grayscale(80%);
              filter: grayscale(80%);
  }
}

%ui-arrow {
  background: url('#{$assetPath}/ui-arrow.svg');
  background-size: 22px 22px;
}

%ui-bell {
  background: url('#{$assetPath}/ui-bell.svg');
  background-size: 22px 22px;
}

%ui-checkmark-empty {
  background: url('#{$assetPath}/ui-checkmark-empty.svg');
  background-size: 22px 22px;
}

%ui-checkmark-outline {
  background: url('#{$assetPath}/ui-checkmark-outline.svg');
  background-size: 22px 22px;
}

%ui-checkmark {
  background: url('#{$assetPath}/ui-checkmark.svg');
  background-size: 22px 22px;
}

%ui-circle-filled {
  background: url('#{$assetPath}/ui-circle-filled.svg');
  background-size: 22px 22px;
}

%ui-circle-outline {
  background: url('#{$assetPath}/ui-circle-outline.svg');
  background-size: 22px 22px;
}

%ui-close-empty {
  background: url('#{$assetPath}/ui-close-empty.svg');
  background-size: 22px 22px;
}

%ui-close-outline {
  background: url('#{$assetPath}/ui-close-outline.svg');
  background-size: 22px 22px;
}

%ui-close {
  background: url('#{$assetPath}/ui-close.svg');
  background-size: 22px 22px;
}

%ui-color-wand {
  background: url('#{$assetPath}/ui-color-wand.svg');
  background-size: 22px 22px;
}

%ui-email {
  background: url('#{$assetPath}/ui-email.svg');
  background-size: 22px 22px;
}

%ui-eye {
  background: url('#{$assetPath}/ui-eye.svg');
  background-size: 22px 22px;
}

%ui-facebook {
  background: url('#{$assetPath}/ui-facebook.svg');
  background-size: 22px 22px;
}

%ui-flag-outline {
  background: url('#{$assetPath}/ui-flag-outline.svg');
  background-size: 22px 22px;
}

%ui-flag {
  background: url('#{$assetPath}/ui-flag.svg');
  background-size: 22px 22px;
}

%ui-gear {
  background: url('#{$assetPath}/ui-gear.svg');
  background-size: 22px 22px;
}

%ui-heart {
  background: url('#{$assetPath}/ui-heart.svg');
  background-size: 22px 22px;
}

%ui-heart-strong {
  background: url('#{$assetPath}/ui-heart-strong.svg');
  background-size: 22px 22px;
}

%ui-image {
  background: url('#{$assetPath}/ui-image.svg');
  background-size: 22px 22px;
}

%ui-info {
  background: url('#{$assetPath}/ui-info-circle.svg');
  background-size: 22px 22px;
}

%ui-info-outline {
  background: url('#{$assetPath}/ui-information-outline.svg');
  background-size: 22px 22px;
}

%ui-instagram {
  background: url('#{$assetPath}/ui-instagram.svg');
  background-size: 22px 22px;
}

%ui-location {
  background: url('#{$assetPath}/ui-location.svg');
  background-size: 22px 22px;
}

%ui-locked-outline {
  background: url('#{$assetPath}/ui-locked-outline.svg');
  background-size: 22px 22px;
}

%ui-locked {
  background: url('#{$assetPath}/ui-locked.svg');
  background-size: 22px 22px;
}

%ui-minus-outline {
  background: url('#{$assetPath}/ui-minus-outline.svg');
  background-size: 22px 22px;
}

%ui-minus {
  background: url('#{$assetPath}/ui-minus.svg');
  background-size: 22px 22px;
}

%ui-more {
  background: url('#{$assetPath}/ui-more.svg');
  background-size: 22px 22px;
}

%ui-plus-empty {
  background: url('#{$assetPath}/ui-plus-empty.svg');
  background-size: 22px 22px;
}

%ui-plus-outline {
  background: url('#{$assetPath}/ui-plus-outline.svg');
  background-size: 22px 22px;
}

%ui-plus {
  background: url('#{$assetPath}/ui-plus.svg');
  background-size: 22px 22px;
}

%ui-pinterest {
  background: url('#{$assetPath}/ui-pinterest.svg');
  background-size: 22px 22px;
}

%ui-search-strong {
  background: url('#{$assetPath}/ui-search-strong.svg');
  background-size: 22px 22px;
}

%ui-search {
  background: url('#{$assetPath}/ui-search.svg');
  background-size: 22px 22px;
}

%ui-settings-strong {
  background: url('#{$assetPath}/ui-settings-strong.svg');
  background-size: 22px 22px;
}

%ui-settings {
  background: url('#{$assetPath}/ui-settings.svg');
  background-size: 22px 22px;
}

%ui-twitter {
  background: url('#{$assetPath}/ui-twitter.svg');
  background-size: 22px 22px;
}

// app badges

// %ui-app-badge-ios {
//   display: block;
//   height: 36px;
//   width: 100px;
//   background: url('#{$assetPath}/app-badge-ios.svg');
//   background-size: 22px 22px;
// }

// %ui-app-badge-android {
//   display: block;
//   height: 36px;
//   width: 100px;
//   background: url('#{$assetPath}/app-badge-android.svg');
//   background-size: 22px 22px;
// }

// branding 

// %ui-logotype {
//   display: block;
//   background: url('#{$assetPath}/ui-branding-logotype.svg');
//   background-size: 22px 22px;

//   &.white { 
//     background: $white; 
//   }
// }

// // logo type

// .tradesy {
//   @extend %ui-logotype;
//   height: 30px; 
//   width: 239px;
//   margin: 0 auto; 
//   text-indent: -9999px;

//   // color
//   &.white {
//     @extend .white;
//   }

//   // size
//   &.--medium {
//     height:  22px;
//     width: 180px;
//     background-size: 180px 22px;
//   }
//   &.--small {
//     height: 18px;
//     width: 150px;
//     background-size: 150px 18px;
//   }
// }

// .ui-app-badge-ios {
//   @extend %ui-app-badge-ios;
// }

// .ui-app-badge-android {
//     @extend %ui-app-badge-android;
// }
