// --- Private Variables

$proxima         : 'proximareg', 'HelveticaNeue', Helvetica, Arial, sans-serif;
$proxima-semi    : 'proximasemi', 'HelveticaNeue', Helvetica, Arial, sans-serif;
$source-code     : 'monaco', Consolas, monospace ;
$system          : -apple-system, "HelveticaNeue", Helvetica, Arial, sans-serif;

// --- Public Variables

$sans      : $proxima;
$sans-bold : $proxima-semi;
$mono      : $source-code;