// --- Form variables

$input-border: 1px solid $grey-300;
$input-border-focus: 1px solid $black;
$input-height: 35px;
$input-padding: 0.5em; 





// --- Reset form elements

input,
select,
textarea {
	@include box-sizing;
	display: block;
	background: none;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: middle;
	white-space: normal;
	line-height: 1;

	&:focus {
		outline:0;
	}
}

// --- Label

label {
	display: block;
	font-family: $sans-bold;
}


// --- Text Inputs

input,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {

	display: block;
	border:  $input-border;
	height:  $input-height;
	width: 100%;
	padding: $input-padding;
	font-family: $sans;
	font-size: 1em;

	&:focus {
		border: $input-border-focus;
	}
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio] {
	width: 13px;
	height: 13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file] {

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Textarea
-----------------------------------------------*/

textarea {
	min-height: 75px;
	vertical-align:top;
	overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}