// --- Form variables

$input-border: 1px solid $grey-300;
$input-border-focus: 1px solid $black;
$input-height: 35px;
$input-width: 100%;
$input-padding: 0.5em; 


// --- Reset form elements

input,
select,
textarea {
	@include box-sizing;
	display: block;
	background: none;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1;
	vertical-align: middle;
	white-space: normal;

	&:focus {
		outline: 0;
	}
}

// --- Label

label {
	display: block;
	font-family: $sans-bold;
}


// --- Text Inputs

select,
input,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
	display: block;
	border:  $input-border;
	height:  $input-height;
	width: $input-width;
	padding: $input-padding;
	font-family: $sans;

	&:focus {
		border: $input-border-focus;
	}
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio] {
	width: 13px;
	height: 13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file] {

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Textarea
-----------------------------------------------*/

textarea {
	min-height: 75px;
	vertical-align: top;
	overflow: auto;
}

/* Selects
-----------------------------------------------*/

.select {
	display: block;
	position: relative;
	width: $input-width;
	border: $input-border;

	// -- Arrow

	&:after {
		position: absolute;
		top: 50%;
		right: 1em;
		display: inline-block;
		content: "";
		width: 0;
		height: 0;
		margin-top: -.15em;
		pointer-events: none;
		border-top: .30em solid;
		border-right: .30em solid transparent;
		border-bottom: .30em solid transparent;
		border-left: .30em solid transparent;
	}
		  
	select {
		@include vendor-prefix(appearance, none);
		display: inline-block;
		background: $white;
		background-image: none;
		height: $input-height;
		width: 100%;
		margin: 0;
		padding: $input-padding;
		border: 0;
		color: $grey-700;
		cursor: pointer;
		font-size: rem-calc(14px);
		outline: 0;
		
		&:focus { 
		  border: 0px solid $black;
		}

		&:active {
			color: $white;
			background-color: $white;
		}

		&:disabled {
			color: $grey-300;
		}

		// -- Firefox
		// -- Reset default style
		// -- Do not remove or you will have ugly select elements on Firefox, dumb dumb

		@-moz-document url-prefix() {
		    -moz-appearance: none;
    		text-indent: 0.01px;
    		text-overflow: '';
		}
	}
	
	// IE 9
	select::-ms-expand { 
		display: none; 
	}

} // select


	// @-moz-document url-prefix() {
	//   // Firefox hack to hide the arrow
	//   .select-style {
	// 	-moz-appearance: menulist !important;
	// 	&:after {
	// 	  display : none;
	// 	}
	//   }
	//   // .select-style select { text-indent: 0.01px; text-overflow: ''; padding-right: 1rem; }
	//   // .select-style option { background-color: white; }
	//   .field {
	// 	&:nth-child(odd) {
	// 	  clear: left;
	// 	}
	//   }
	//   .field {
	// 	&:nth-child(2n+1) {
	// 	  clear: none;
	// 	}
	//   }

	// }