// Form Variables
// ----------------------------------------------- //

$input-border: 1px solid $grey-300;
$input-border-focus: 1px solid $black;
$input-height: 35px;
$input-width: 100%;
$input-padding: 0.5em; 


// Reset forms
// ----------------------------------------------- //

input,
select,
textarea {
	@include box-sizing;
	display: block;
	background: none;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1;
	vertical-align: middle;
	white-space: normal;

	&:focus {
		outline: 0;
	}
}

// Label
// ----------------------------------------------- //

label {
	display: block;
	font-family: $sans-bold;
}


// Inputs
// ----------------------------------------------- //

select,
input,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
	display: block;
	border:  $input-border;
	height:  $input-height;
	width: $input-width;
	padding: $input-padding;
	font-family: $sans;

	&:focus {
		border: $input-border-focus;
	}
}

// Input + Checkbox
// ----------------------------------------------- //

input[type=checkbox],
input[type=radio] {
	display: inline-block;
	width: 13px;
	height: 13px;
}

// File Upload
// ----------------------------------------------- //

input[type=file] {

}

// Search
// ----------------------------------------------- //

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}


// Select element
// ----------------------------------------------- //

.select {
	display: block;
	position: relative;
	width: $input-width;
	border: $input-border;

	// -- Arrow

	&:after {
		position: absolute;
		top: 50%;
		right: 1em;
		display: inline-block;
		content: "";
		width: 0;
		height: 0;
		margin-top: -.15em;
		pointer-events: none;
		border-top: .30em solid;
		border-right: .30em solid transparent;
		border-bottom: .30em solid transparent;
		border-left: .30em solid transparent;
	}
		  
	select {
		@include vendor-prefix(appearance, none);
		display: block;
		background: $white;
		background-image: none;
		height: $input-height;
		width: 100%;
		margin: 0;
		padding: $input-padding;
		border: 0;
		color: $grey-700;
		cursor: pointer;
		font-size: rem-calc(14px);
		outline: 0;
		
		&:focus { 
		  border: 0px solid $black;
		}

		&:active {
			color: $white;
			background-color: $white;
		}

		&:disabled {
			color: $grey-300;
		}

		// -- Firefox
		// -- Reset default style
		// -- Do not remove or you will have ugly select elements on Firefox, dumb dumb

		@-moz-document url-prefix() {
		    -moz-appearance: none;
    		text-indent: 0.01px;
    		text-overflow: '';
		}
	}
	
	// IE 9
	select::-ms-expand { 
		display: none; 
	}
}

// Textarea
// ----------------------------------------------- //

textarea {
	display: block;
	border: $input-border;
	min-height: 75px;
	width: $input-width;
	padding: $input-padding;
	font-family: $sans;
	resize: none;
	overflow: auto;
	vertical-align: top;
}


// Checkbox and Radio from WTF forms - http://wtfforms.com
// ----------------------------------------------- //

.control {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  cursor: pointer;
}

.control input {
  position: absolute;
  opacity: 0;
  z-index: -1; 
}

.control-indicator {
  position: absolute;
  top: .25em;
  left: 0;
  display: block;
  width:  1.65em;
  height: 1.65em;
  line-height: 1em;
  font-size: 65%;
  color: #eee;
  text-align: center;
  background-color: $white;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid $black;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/* Checked state */
.control input:checked ~ .control-indicator {
  color: $white;
  background-color: $black;
}

/* Active */
.control input:active ~ .control-indicator {
  color: $white;
  background-color: $black;
}

/* Checkbox modifiers */
.checkbox .control-indicator {
  //border-radius: .25rem;
}

.checkbox input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}

/* Radio modifiers */
.radio .control-indicator {
	@include border-radius(50%);
}

.radio input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}
