@font-face {
  font-family: 'proximasemi';
  src: url('../fonts/proximasemi.eot');
  src: url('../fonts/proximasemi.eot') format('embedded-opentype'),
  url('../fonts/proximasemi.woff2') format('woff2'),
  url('../fonts/proximasemi.woff') format('woff'),
  url('../fonts/proximasemi.ttf') format('truetype'),
  url('../fonts/proximasemi.svg#proximasemi') format('svg');
  // font-display: auto; // future fallback when browsers support font-display
}

@font-face {
  font-family: 'proximareg';
  src: url('../fonts/proximareg.eot');
  src: url('../fonts/proximareg.eot') format('embedded-opentype'),
  url('../fonts/proximareg.woff2') format('woff2'),
  url('../fonts/proximareg.woff') format('woff'),
  url('../fonts/proximareg.ttf') format('truetype'),
  url('../fonts/proximareg.svg#proximareg') format('svg');
  // font-display: auto; // future fallback when browsers support font-display
}


html {
  font-size: 0.938em;
}

body {
  background-color: $white;
  font-family: $sans;
  line-height: 1.45;
  color: $grey-600;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}


// --- Headers

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 1.414em 0 0.5em;
  font-family: $sans-bold;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;

  &.small {
    font-size: 3.2em;
  }

  @media #{$small-only} {
    font-size: 3em;

    &.small {
      font-size: 2.8em;
    }
  }
}

h2 {
  font-size: 2.827em; 

  &.small {
    font-size: 2.4em;
  }

  @media #{$small-only} {
    font-size: 2.3em;

    &.small {
      font-size: 2em;
    }
  }
}

h3 {
  font-size: 1.999em; 

  &.caps {
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

  @media #{$small-only} {

    &.caps {
      text-transform: uppercase;
      letter-spacing: 0.10em;
    }
  }
}

h4 { 
  font-size: 1.414em; 
  
  &.caps {
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

  @media #{$small-only} {

    &.caps {
      text-transform: uppercase;
      letter-spacing: 0.10em;
    }
  }

}

h5 { 
  font-size: 1em; 
  
  &.caps {
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
}

h6 { font-size: 0.867em; }


// --------------- Anchor

a {
  font-family: $sans-bold;
  text-decoration: none;
}

p {
  margin-bottom: 1.3em;

  @media screen and (max-width: 50em) {
    color: blue;
    font-size: 1.1em;
  }

  &.large {
    font-size: 1.15em;
  }
}

strong,
b {
  font-family: $sans-bold;
}

small { 
  font-size: 0.707em; 
}



