// -- Theme Layout

.herc-nav {
	position: fixed;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 3em;
	width: 230px;
	background: $black;
	overflow-y: scroll;
	overflow-x: hidden;

	@media #{$small-only} {
		left: -230px;
	}

	ul {
		margin: 0;
		padding: 1em 2em;
		list-style: none;

		li {
			display: block;

			h6 {
				color: $white;
			}

			a {
				color: $grey-500;

				&:hover, 
				&.active {
					color: $white;
				}
			}
		}
	}
}


// -- Theme Container
.herc-main {
	position: relative;
	padding: 0 15px 200px 250px;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;

	@media #{$small-only} {
		padding: 0;
	}
}


.herc-metric {

	&__card {
		display: block;
		margin-bottom: 1em;
		padding: 2em;
		border: 1px solid $grey-200;
		border-bottom: 1px solid $grey-300;
		font-family: $sans-bold;
	}
}



// --- Code Examples
pre {
	@include border-radius(5px);
	background: $grey-100;
	border: 1px solid $grey-100 !important;
	padding: 1em !important;
	padding-bottom: 0 !important;
	overflow: hidden !important;
	overflow-x: scroll !important;
	font-family: 'Source Code Pro', monospace;
	font-size: 0.9em;
}


// -- Views

.herc-panel {
	border-bottom: 1px solid $grey-200;
	padding: 2em 0;

	// -- Typography
	
	&.type {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0.5em 0;
		}
	}
}

