$avatar-default: 50px;


.avatar {
	@include border-radius(500px);
	display: inline-block;
	overflow: hidden;


	&__image {
		display: table-cell;
		height: $avatar-default;
		width: $avatar-default;
		border: 1px solid transparent;
		text-align: center;
		vertical-align: middle;

		img {
			max-height: 100%;
			max-width: 100%;        
			width: auto;
        	margin: 0 auto;
		}
	}

	&__initials {
		display: table-cell;
		height: $avatar-default;
		width: $avatar-default;
		border: 1px solid $black;
		font-family: $sans-bold;
		text-align: center;
		vertical-align: middle;

		span {
			position: relative;
			top: 1px;
		}

		&--alt {
			background: $black;
			border: 1px solid $black;
			color: $white;
		}
	}

}