
// --- Reset Buttons

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	@include box-sizing;
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
 	outline: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// -- Make anchors like buttons

[role="button"] {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}


// -- Primary and Secondary button

.btn {
	@include transition(all);
	display: inline;
	background: $charcoal;
	height: 45px;
	margin-bottom: 1em;
	padding: 0 2em;
	font-family: $sans-bold;
	color: $white;

	&:hover {
		@include transition(all);
		background: $black;
	}

	// -- Size

	&--sml {
		height: 35px;
	}

	&--lrg {
		height: 55px;
	}

	&--expand {
		width: 100%;
	}


	// -- Style -- Hollow Button

	&__hollow {
		background: $white;
		border: 1px solid $grey-300;
		color: $grey-600;

		&:hover {
			background: $white;
			border: 1px solid $black;
			color: $black;
		}
	}

	// -- Style -- Brands

	&__facebook {
		background: $facebook;
		color: $white;

		span {
			@extend %ui-icon;
			@extend %ui-facebook;
			position: relative;
			top: 2px;
			left: -10px;
			display: inline-block;
		}

		&:hover {
			background: $facebook;
			color: $white;
		}
	}

	// -- Disabled

	&:disabled,
	&--disabled {
		background: $grey-200;
		color: $grey-400;
		cursor: not-allowed;

		&:hover {
			background: $grey-200;
			color: $grey-400;
			cursor: not-allowed;
		}
	}

}

// --- Slab Button

.btn-slab {
	@include transition(all);
	display: inline;
	min-height: 200px;
	min-width: 200px;
	margin-bottom: 1em;
	background: $white;
	border: 1px solid $grey-300;
	color: $grey-600;
	cursor: pointer;
	vertical-align: top;

	&:hover {
		@include transition(all);
		background: $white;
		border: 1px solid $black;
		color: $black;
	}

	label {
		display: block;
		font-family: $sans-bold;
	}

	span {
		display: block;
	}

	hr {
		max-width: 25%;
		border-top: 1px solid $grey-300;
		margin: 1em auto;
	}
}

// --- Button Breadcrumb

.btn-crumb {
	@include transition(all);
	display: inline-block;
	position: relative;
	z-index: 1;
	background: $grey-100;
	height: 25px;
	margin-bottom: 1em;
	padding-right: 2em;
	color: $grey-700;
	font-size: 0.707em;

	label {
		display: block;
		padding: 0 1em;
	}

	span {
		@include vertical-align();
		@extend %ui-icon;
		@extend %ui-close-empty;
		right: 2px;
	}
}

