// --- Form reset can be found here: scss/critical/browser-critical/_form


// ---- Contextual / Hint

$hint-color: $grey-400;
$hint-font: $sans;
$hint-size: 0.867em;

// --- Field Container
$field-margin: 0.5em 0 1.25em;

// --- Generic form make up

form {

	legend {
		@extend h4;
	}

	label {

		// --- Contextual tips
		
		span {
			position: relative;
			top: 3px;
			float: right;
			color: $hint-color;
			font-family: $hint-font;
			font-size: $hint-size;
		}
	}

	// --- Errors
	
	small {

		&.error {
			display: none;
			font-family: $sans-bold;
			color: $red-300;
		}
	}

	// --- Generic Container

	.fgroup {
		@include clearfix;
		margin: $field-margin;

		&--horizontal {
			margin: 0;

			input[type="checkbox"],
			input[type="radio"] {
			 	float: left;
				margin-right: 0.5em;
			}

			label {
				float: left;
			}
		}

		&--footer {
			.btn {
				float: right;
				margin-left: 1em;
			}
		}
	}

}

