// -- Box model everything

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


// Eric Meyer Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// Block all HTML5 elements because old browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: 'proximasemi';
  src: url('../fonts/proximasemi.eot');
  src: url('../fonts/proximasemi.eot') format('embedded-opentype'),
  url('../fonts/proximasemi.woff2') format('woff2'),
  url('../fonts/proximasemi.woff') format('woff'),
  url('../fonts/proximasemi.ttf') format('truetype'),
  url('../fonts/proximasemi.svg#proximasemi') format('svg');
}

@font-face {
  font-family: 'proximareg';
  src: url('../fonts/proximareg.eot');
  src: url('../fonts/proximareg.eot') format('embedded-opentype'),
  url('../fonts/proximareg.woff2') format('woff2'),
  url('../fonts/proximareg.woff') format('woff'),
  url('../fonts/proximareg.ttf') format('truetype'),
  url('../fonts/proximareg.svg#proximareg') format('svg');
}